{{ define "main" }}
<main id="home">
    <div>
        <div class="avatar">
            <img src="https://avatars0.githubusercontent.com/u/17965206?s=460&v=4" alt="Jayson">
        </div>
        <div id="content">
            {{ .Content }}
            <div class="social-media">
                {{ range sort .Site.Params.social "weight" }}
                    <a class="link" href="{{ .url }}">
                        {{ $path := printf "social-icons/%s.svg" .name }}
                        {{ partial $path (dict "class" "social-media-icon") }}
                    </a>
                {{ end }}
            </div>
        </div>
    </div>

   
</main>
{{ end }}
